Q1. How do you comment code in Python? What are the different types of comments?

Ans: Comments in Python are identified with a hash symbol, #, and extend to the end of the line.
Different Types of Comments in Python -

Single-Line Comments -

Single-line comments begin with the “#” character.

Multi-Line Comments -

Python does not support multi-line comments.The first way is by using # at the beginning of each line of the comment.The next way is by using string literals but not assigning them to any variables.You can either use a single (‘’) quotation or double (“”) quotation.

In [2]:
#comment here
"abcd comment"
'''comment here
   this is multiline comment'''

'comment here\n   this is multiline comment'

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans: Variables: Python variables are simply containers for storing data values.A Python variable may be assigned a value of one type and then later re-assigned a value of a different type. For example, x = "apples" can later be x = 5.

In [3]:
x = 10
y = "Hello"
print(x)
print(y)

10
Hello

Q3. How do you convert one data type to another in Python?

Ans: Data conversion in Python can happen in two ways: either you tell the compiler to convert a data type to some other type explicitly, or the compiler understands this by itself and does it for you. In the former case, you're performing an explicit data type conversion, whereas, in the latter, you're doing an implicit data type conversion.

In [4]:
#Implicit Conversion
a_int = 1
b_float = 1.0
c_sum = a_int + b_float
print(c_sum)
print(type(c_sum))

2.0
<class 'float'>

In [6]:
#Explicit Conversion
a_int = 1
b_float = float(a_int)
print(a_int)
print(b_float)
print(type(a_int))
print(type(b_float))

1
1.0
<class 'int'>
<class 'float'>

Q4. How do you write and execute a Python script from the command line?

Ans: The most basic and easy way to run a Python script is by using the python command. You need to open a command line and type the word python followed by the path to your script file like this:

python first_script.py
Hello World!

Then you hit the ENTER button from the keyboard, and that's it.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list[2:3])

[3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans: Complex numbers have their uses in many applications related to mathematics and python provides useful tools to handle and manipulate them. Converting real numbers to complex number An complex number is represented by “ x + yi “. Python converts the real numbers x and y into complex using the function complex(x,y).

In [8]:
import cmath
x=5
y=9
z=complex(x,y)
print(z)

(5+9j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [9]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [10]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [11]:
name = "Somnath Tiwari"
print(name)

Somnath Tiwari

Q10. Given the string "Hello, World!", extract the substring "World".

In [16]:
str1 = "Hello, World!"
print(str1[7:13])

World!

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [18]:
is_student = True
print(is_student)

True