Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
#(i) string
string_1 = "abc"
type(string_1)

str

In [2]:
#(ii) List
list_1 = [1,2,3,4,5]
type(list_1)

list

In [3]:
#(iii) float
float_1 = 10.5
type(float_1)

float

In [4]:
#(iv) tuple
tup = (10,20,30,40,50)
type(tup)

tuple

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [5]:
# (i)
var1 = ' '
type(var1)

str

In [6]:
#(ii)
var2 = '[ DS , ML , Python]'
type(var2)

str

In [7]:
# (iii)
var3 = [ 'DS' , 'ML' , 'Python']
type(var3)

list

In [8]:
#(iv)
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [9]:
# (i) / -> Division operator 
div1 = 10/3
div1

3.3333333333333335

In [10]:
#(ii) % -> Modular Operator 
mod1 = 10%3
mod1

1

In [11]:
# (iii) // -> float division operator
div2 = 10//3
div2

3

In [12]:
# (iv) ** -> square operator 
mul = 10**2
mul

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
list1 = [10,10.2,10+2j,'ABC',True,[1,2,3],(4,5,6),{7,8,9},{'a':1,'b':2},None]
for i in range(len(list1)):
    print(type(list1[i]))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'NoneType'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
A = int(input("Enter A:"))
B = int(input("Enter B:"))
count = 0
while A>=B and A%B==0:
    A/=B
    count +=1
    if count > 0 :
        print( f"{A*B} is divisble by {B} exactly {count} times.")
    else:
        print(f"{A*B} is not divisible by {B}.")

Enter A: 20
Enter B: 2

20.0 is divisble by 2 exactly 1 times.
10.0 is divisble by 2 exactly 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [21]:
import random
rand_list=[]
for i in range(25):
    rand_list.append(random.randint(1,25))
    if rand_list[i]%3==0:
        print(i,"  divisible")
    else:
        print(i,"  not divisible")

0   divisible
1   not divisible
2   not divisible
3   not divisible
4   not divisible
5   not divisible
6   divisible
7   not divisible
8   divisible
9   not divisible
10   divisible
11   not divisible
12   not divisible
13   not divisible
14   not divisible
15   not divisible
16   divisible
17   not divisible
18   not divisible
19   not divisible
20   not divisible
21   divisible
22   not divisible
23   divisible
24   divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable Data Types -> A mutable data type is those whose values can be changed.
           Example: List, Dictionaries, and Set
           
Immutable Data Types-> An immutable data type is one in which the values can’t be changed or altered.
             Example: String and Tuples

In [22]:
#Mutable
list4 =[10,20,30,40]
print(list4)
list4.append(50)
print(list4)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [23]:
#Immutable
tup1 = 10,20,30,40
print(tup1)
tup1[1] = 50

(10, 20, 30, 40)

TypeError: 'tuple' object does not support item assignment