Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is an organized collection of data, typically stored and accessed electronically. It allows users to store, manage, and retrieve data in a structured format. Databases are used in various applications, from small-scale applications to large-scale enterprise systems. The data in a database is usually organized into tables, rows, and columns, making it easier to manage and query.

SQL vs. NoSQL Databases:
SQL:

Relational (tables with rows/columns)

Fixed schema

ACID transactions (strong consistency)

Vertically scalable

Examples: MySQL, PostgreSQL

NoSQL:

Non-relational (documents, key-value, graphs)

Flexible schema

BASE model (eventual consistency)

Horizontally scalable

Examples: MongoDB, Cassandra

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of database objects such as tables, views, indexes, and schemas. DDL commands modify the database schema but do not affect the data stored in the database.

CREATE: Defines new objects (e.g., tables).

Ex.- CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    Name VARCHAR(100),
    Age INT
);

DROP: Deletes objects (e.g., tables or columns).

Ex.- DROP TABLE Students;

ALTER: Modifies existing objects (e.g., adds/removes columns).

Ex.- ALTER TABLE Students ADD COLUMN Email VARCHAR(100);

TRUNCATE: Removes all data from a table but retains its structure.

Ex.- TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML (Data Manipulation Language) is a subset of SQL used to manipulate the data within database objects (like tables). DML commands allow you to insert, update, delete, and retrieve data. Unlike DDL (Data Definition Language), which deals with the structure of the database, DML is concerned with the actual data stored in the tables.

The most common DML operations are:

INSERT: Add new records to a table.

Ex.- INSERT INTO Students (StudentID, Name, Age, Email)
VALUES (1, 'Alice', 20, 'alice@example.com');

UPDATE: Modify existing records.

Ex.- UPDATE Students
SET Age = 21
WHERE StudentID = 1;

DELETE: Remove records from a table.

Ex.- DELETE FROM Students
WHERE StudentID = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL (Data Query Language) is a subset of SQL used to query and retrieve data from a database. The main purpose of DQL is to perform read-only operations on the data. The most commonly used DQL command is SELECT, which is used to fetch data from one or more tables in a database.

SELECT - The SELECT statement is used to retrieve data from a database. You can select specific columns, filter data using WHERE, sort data using ORDER BY, and perform other operations such as joining multiple tables.

SELECT column1, column2, ...
FROM table_name
WHERE condition
ORDER BY column
LIMIT number;

Q5. Explain Primary Key and Foreign Key.

Ans: Primary Key
A Primary Key is a field (or a combination of fields) in a table that uniquely identifies each record in that table. The primary key ensures that each row in the table is unique and can be accessed easily. It cannot have NULL values.

Key Characteristics of Primary Key:

Uniqueness: Each value in the primary key column(s) must be unique across the table.

Non-Null: A primary key column cannot have a NULL value.

Single Record: Each table can have only one primary key.

Indexing: Most database systems automatically create an index on the primary key column(s) to speed up queries.

Foreign Key
A Foreign Key is a field (or a combination of fields) in one table that refers to the Primary Key in another table. The foreign key establishes a relationship between the two tables, allowing for referential integrity. It ensures that the values in the foreign key column correspond to valid records in the referenced table.

Key Characteristics of Foreign Key:

Referential Integrity: The foreign key ensures that every value in the column corresponds to a valid value in the referenced primary key column.

NULL Values Allowed: A foreign key can contain NULL values, meaning the relationship is optional.

Multiple Foreign Keys: A table can have multiple foreign keys referencing different tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans: cursor() Method:
Purpose: The cursor() method is used to create a cursor object. The cursor allows you to interact with the database by executing SQL queries and fetching results.

execute() Method:
Purpose: The execute() method is used to execute a single SQL query. You can pass SQL queries (such as SELECT, INSERT, UPDATE, etc.) as strings to this method.

In [2]:
!pip install mysql-connector-python==8.0.33

Requirement already satisfied: mysql-connector-python==8.0.33 in /usr/local/lib/python3.10/dist-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python==8.0.33) (3.20.3)

In [3]:
import mysql.connector

# Establishing the connection
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Somnath.Kajal@2002",
    database="ola" ,
    consume_results = True
)
# Creating a cursor object to interact with the database
cursor = db.cursor()

# Example of executing a query
cursor.execute("SELECT count(*) FROM ola_bookings")

# Fetching the results
results = cursor.fetchall()

# Loop through the results and print them
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
db.close()

(103024,)

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: In SQL, the clauses in a query are executed in a specific order, even though they are written in a different sequence. Here is the order of execution of SQL clauses in a typical SQL query:

Order of Execution of SQL Clauses
FROM:

This clause specifies the tables or views from which to retrieve the data. It is executed first to determine the data source.
JOIN (if any):

If there are any JOIN operations (like INNER JOIN, LEFT JOIN, etc.), they are applied after the FROM clause to combine the data from multiple tables.
WHERE:

The WHERE clause is applied next to filter rows based on the given condition(s). It eliminates rows from the result set that do not satisfy the condition.
GROUP BY (if any):

The GROUP BY clause is applied to group rows that have the same values into summary rows. This is often used with aggregate functions like SUM, COUNT, AVG, etc.
HAVING (if any):

The HAVING clause is similar to WHERE, but it is applied after GROUP BY to filter groups based on a condition, typically used with aggregate functions.
SELECT:

The SELECT clause specifies the columns to be returned in the result set. It is executed after the data has been filtered and grouped.
DISTINCT (if any):

If the DISTINCT keyword is used, it is applied after the SELECT clause to remove duplicate rows from the result set.
ORDER BY:

The ORDER BY clause is applied next to sort the result set in ascending or descending order based on one or more columns.
LIMIT/OFFSET (if any):

Finally, the LIMIT clause is applied to restrict the number of rows returned, and OFFSET specifies where to start retrieving the results from.