Q1. List any five functions of the pandas library with execution.

In [ ]:
import pandas as pd
data = {
    "name" : ["Alice", "Bob", "Claire"],
    "age" : [25, 30, 27],
    "gender" : ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)

In [ ]:
## 1. head()
df.head(1)

    name  age  gender
0  Alice   25  Female

In [ ]:
## 2. tail()
df.tail(1)

     name  age  gender
2  Claire   27  Female

In [ ]:
## 3. info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [ ]:
## 4. describe()
df.describe()

             age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [ ]:
## 5. drop()
df.drop(1, axis=0, inplace=True)
df.head()

     name  age  gender
0   Alice   25  Female
2  Claire   27  Female

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
data = {
    "name" : ["Alice", "Bob", "Claire"],
    "age" : [25, 30, 27],
    "gender" : ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)

def Reindexing():
  df.index = range(1,len(df)*2,2)
  return df
reindexed_df = Reindexing()
reindexed_df

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [ ]:
data = {10,20,30,40,50}
df = pd.DataFrame(data)
def DataVisit():
  sum = 0
  for i in range(3):
    sum += df[0][i]
  print(sum)
DataVisit()

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

Here's a Python function that takes a Pandas DataFrame df with a column 'Text' and adds a new column 'Word_Count' with the number of words in each row of the 'Text' column:

In [1]:
import pandas as pd

def add_word_count_column(df):
    # Ensure 'Text' column is string type and calculate word count
    df['Word_Count'] = df['Text'].astype(str).apply(lambda x: len(x.split()))
    return df
data = {'Text': ['Hello world', 'This is a test', '', None, 'Another line here']}
df = pd.DataFrame(data)
df = add_word_count_column(df)
print(df)

                Text  Word_Count
0        Hello world           2
1     This is a test           4
2                              0
3               None           1
4  Another line here           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.shape

Returns: A tuple (rows, columns)

Describes: The dimensions of the DataFrame.

In [2]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]])
print(df.shape)

(2, 2)


DataFrame.size

Returns: A single integer

Describes: The total number of elements in the DataFrame (i.e., rows × columns).

In [3]:
print(df.size)

4

Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in pandas, you use the read_excel() function.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [4]:
import pandas as pd

def extract_usernames(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

data = {'Email': ['john.doe@example.com', 'jane.smith@test.com']}
df = pd.DataFrame(data)
df = extract_usernames(df)
print(df)

                  Email    Username
0  john.doe@example.com    john.doe
1   jane.smith@test.com  jane.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [5]:
import pandas as pd

def filter_rows(df):
    # Apply the condition on columns 'A' and 'B'
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)
filtered = filter_rows(df)
print(filtered)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [6]:
import pandas as pd

def calculate_stats(df):
    mean_val = df['Values'].mean()
    median_val = df['Values'].median()
    std_dev = df['Values'].std()

    return {
        'mean': mean_val,
        'median': median_val,
        'std_dev': std_dev
    }
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

stats = calculate_stats(df)
print(stats)

{'mean': np.float64(30.0), 'median': 30.0, 'std_dev': 15.811388300841896}

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [7]:
import pandas as pd

def add_moving_average(df):
    # Ensure 'Date' column is in datetime format and sort by date
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values('Date')

    # Calculate 7-day moving average including current day
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Sales': [100, 150, 200, 130, 170, 160, 180, 190, 210, 220]
}
df = pd.DataFrame(data)

df = add_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    150     125.000000
2 2023-01-03    200     150.000000
3 2023-01-04    130     145.000000
4 2023-01-05    170     150.000000
5 2023-01-06    160     151.666667
6 2023-01-07    180     155.714286
7 2023-01-08    190     168.571429
8 2023-01-09    210     177.142857
9 2023-01-10    220     180.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [8]:
import pandas as pd

def add_weekday_column(df):
    # Ensure 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Create 'Weekday' column with the weekday name
    df['Weekday'] = df['Date'].dt.day_name()

    return df
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}
df = pd.DataFrame(data)

df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [9]:
import pandas as pd

def filter_january_dates(df):
    # Ensure 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Define the date range
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')

    # Filter rows within the date range
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return filtered_df
data = {
    'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01'],
    'Value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

filtered_df = filter_january_dates(df)
print(filtered_df)

        Date  Value
1 2023-01-01     20
2 2023-01-15     30
3 2023-01-31     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is: import pandas as pd

pandas is the library.

pd is the commonly used alias for easier access to pandas functions.